*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  background: hsl(212, 45%, 89%);
}

.container {
  border-radius: 1rem;
  width: 340px;
  height: 520px;
  background: hsl(0, 0%, 100%);
  box-shadow: 2px 2px 15px 1px #a89fa8;
}

.img-container {
  margin: 1rem auto;
}

img {
  border-radius: 1rem;
  width: 300px;
}

.text-container {
  margin: 2rem 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.heading {
  color:hsl(218, 44%, 22%);
  font-size: 20px;
  font-weight: 700;
}

.text {
  font-size: 15px;
  color: hsl(220, 15%, 55%);
  font-weight: 400;
}
